


    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white text-center bg-info mb-3" >
                <h4 class="card-header">Target</h4>
                <div class="card-body">
                    <h3>{{ target }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white text-center bg-success mb-3" >
                <h4 class="card-header">Target Achieved</h4>
                <div class="card-body">
                    <h3>{{ month_target_completed.total_amount__sum }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white text-center bg-primary mb-3" >
                <h4 class="card-header">Total Customers</h4>
                <div class="card-body">
                    
                    <h3>{{ total_customers }}</h3>
                    
                </div>
            </div>
        </div>
    </div>

